<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My Appointments</title>
</head>
<body>

<h2>My Appointments</h2>

<table border="1">
    <tr>
        <th>Doctor</th>
        <th>Date</th>
        <th>Time</th>
        <th>Token</th>
        <th>Status</th>
    </tr>

    <tr th:each="a : ${appointments}">
        <td th:text="${a.doctor.name}"></td>
        <td th:text="${a.date}"></td>
        <td th:text="${a.time}"></td>
        <td th:text="${a.tokenNumber}"></td>
        <td th:text="${a.status}"></td>
    </tr>
</table>

<br>
<a href="/dashboard">Back</a>

</body>
</html>