<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Queue</title>

    <!-- 🔄 Auto refresh every 5 sec -->
    <meta http-equiv="refresh" content="5">

</head>
<body>

<h1 th:text="${doctor.name}"></h1>

<h2>Current Running Token</h2>

<div th:if="${current != null}">
    <h1 th:text="${current.tokenNumber}"></h1>
</div>

<div th:if="${current == null}">
    <h2>No Active Queue</h2>
</div>

<hr>

<h2>Waiting Queue</h2>

<table border="1">

    <tr>
        <th>Token</th>
        <th>Patient</th>
    </tr>

    <tr th:each="a : ${waiting}">
        <td th:text="${a.tokenNumber}"></td>
        <td th:text="${a.user.username}"></td>
    </tr>

</table>

</body>
</html>